<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table id="galleryTbl">
		<tr>
			<th colspan="2">GALLERY</th>
		</tr>
		<tr>
			<td align="left" id="searchTbl">
				<form action="gallery.search.go">
					<input id="searchInput" name="gallerySearch" placeholder="&nbsp;검색어를 입력하세요">
					<button id="searchBtn">검색</button>
				</form>
			</td>
			<td align="right" id="a">
				<button id="goUpload" th:if="${session.loginMember != null}">
					업로드하러가기
				</button>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<table th:each="g : ${galleryPost}"  class="galleryPostsTbl">
					<tr>
						<td colspan="2" align="center">
							<span th:if="${session.loginMember != null}">
								<button th:if="${g.member.id == session.loginMember.id}" 
										th:onclick="galleryPostDelete([[${g.no}]]);">
									<img class="icon" src="img/icon/delete.png">
								</button>
							</span>
							<a th:href="|gallery.photo.download/${g.photo}|">
								<img class="icon" src="img/icon/download.png">
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<img class="postPhoto" th:src="|gallery.photo.folder/${g.photo}|">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="title">
							[[${g.title }]]
						</td>
					</tr>
					<tr>
						<td class="writer">
							Upload : [[${g.member.id }]]
						</td>
						<td class="date" align="right" 
							th:text="${#dates.format(g.date, 'yyyy-MM-dd')}">
						</td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
	<form action="gallery.upload.do" method="post" enctype="multipart/form-data"
			name="uploadForm" onsubmit="return photoUpload(this);">
		<input name="token" th:value="${token }" type="hidden">
		<table id="uploadTbl" th:if="${session.loginMember != null}">
			<tr>
				<th>UPLOAD</th>
			</tr>
			<tr>
				<td align="left">
					&nbsp;&nbsp;제목 <br><input name="title">
				</td>
			</tr>
			<tr>
				<td align="left">
					&nbsp;&nbsp;사진 업로드 <br><input name="file2" type="file">
				</td>
			</tr>
			<tr>
				<td align="center">
					<button>등록</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>