<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table id="mapTbl">
		<tr>
			<td align="center">
				<div id="map"></div>
			</td>
			<td align="center">
				<div id="roadview"></div>
			</td>
		</tr>
		<tr><td class="space" colspan="2"></td></tr>
		<tr>
			<td>
				지역 검색 &nbsp;
				<input id="localSearch">
			</td>
			<td>
				키워드 검색 &nbsp;
				<input id="searchWord">
			</td>
		</tr>
		<tr><td class="space" colspan="2"></td></tr>
		<tr>
			<td colspan="2" id="resultTd">
				<div id="searchResult"></div>
			</td>
		</tr>
	</table>
</body>
</html>