<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Winnie The Pooh</title>
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/member.css">
<link rel="stylesheet" href="css/gallery.css">
<link rel="stylesheet" href="css/sns.css">
<link rel="stylesheet" href="css/note.css">
<link rel="stylesheet" href="css/map.css">
<link rel="stylesheet" href="css/board.css">
<link rel="stylesheet" href="css/chat.css">
<link rel="stylesheet" href="css/ballGame.css">
<link rel="stylesheet" href="css/food.css">
<script type="text/javascript" src="js/jQuery.js"></script>
<script src="http://192.168.0.56:9999/socket.io/socket.io.js"></script>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=523bc53a831dab3df4ccbb2c2d959412"></script>
<script type="text/javascript" src="js/KDYVaildChecker_v1.0.js"></script>
<script type="text/javascript" src="js/move.js"></script>
<script type="text/javascript" src="js/poohVaildCheck.js"></script>
<script type="text/javascript" src="js/pooh_jQuery.js"></script>
<script type="text/javascript" src="js/pooh_foodControll.js"></script>
</head>
<body>
	<table id="siteTitleArea">
		<tr>
			<td align="center">
				<table id="siteTitle">
					<tr>
						<td><a id="title" href="index.do">Winnie The Pooh</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table id="siteContentArea">
		<tr>
			<td id="loginArea">
				<table>
					<tr>
						<td class="space"></td>
					</tr>
					<tr>
						<td th:text="${result}" id="result" align="center"></td>
					</tr>
					<tr>
						<td th:insert="~{${loginPage}}" align="center"></td>
					</tr>
					<tr>
						<td class="space"></td>
					</tr>
					<tr>
						<td id="siteMenuArea" align="center">
							<table id="siteMenu">
								<tr>
									<td class="space" align="center"></td>
								</tr>
								<tr th:if="${session.loginMember != null}">
									<td><a href="memberPage.go"> <img src="img/honey.png"
											class="icon"> &nbsp;MyPage
									</a></td>
								</tr>
								<tr>
									<td><a href="board.go"> <img src="img/honey.png"
											class="icon"> &nbsp;BOARD
									</a></td>
								</tr>
								<tr>
									<td><a href="note.go"> <img src="img/honey.png"
											class="icon"> &nbsp;NOTE
									</a></td>
								</tr>
								<tr>
									<td><a href="sns.go"> <img src="img/honey.png"
											class="icon"> &nbsp;SNS
									</a></td>
								</tr>
								<tr>
									<td><a href="map.go"> <img src="img/honey.png"
											class="icon"> &nbsp;MAP
									</a></td>
								</tr>
								<tr>
									<td><a href="gallery.go"> <img src="img/honey.png"
											class="icon"> &nbsp;GALLERY
									</a></td>
								</tr>
								<tr>
									<td><a href="food.go"> <img src="img/honey.png"
											class="icon"> &nbsp;FOOD
									</a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td th:insert="~{${contentPage}}" align="center" id="contentArea">
			</td>
		</tr>
	</table>
	<img src="img/rightClick.png" id="rightClickImg">
	<table id="mouseWeather"
		th:style="|background-color: #${curWeather.color}|">
		<tr>
			<td>[[${curWeather.temp}]]℃ - [[${curWeather.description}]]</td>
		</tr>
	</table>
</body>
</html>