@charset "UTF-8";
#board {
	border: #BFA688 solid 10px;
	background-image: url("../img/opercity1.png");
	background-attachment: fixed;
	background-size: cover;
	border-radius: 10px;
} 
#boardColorInputArea {
	position: absolute;
	top: 135px;
	left: 670px;
	width: 90px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	padding: 5px;
	border: none;
	border-bottom: #BFA688 solid 4px;
	outline: none;
	background-color: transparent;
}
#boardColorInput {
	width: 60px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	padding: 5px;
	border: none;
	outline: none;
	background-color: transparent;
}