@charset "UTF-8";

#galleryTbl {
	color: #5a4f41;
	font-family: "k";
	font-size: 23px;
	width: 100%;
}
#galleryTbl #searchTbl{
	width: 220px;
}
#galleryTbl th {
	font-size: 40px;
	padding-bottom: 20px;
}
#galleryTbl #searchInput{
	width: 140px;
	font-family: "k";
	font-size: 17px;
	outline: none;
	border: #BFA688 solid 2px;
	border-radius: 10px;
	background-color: #EEE5D3;	
	padding: 5px;
	resize: none;
}
#galleryTbl #goUpload{
	font-size: 20px;
	text-decoration: none;
	color: #EEE5D3;
	border: none;
	font-family: "k";
	background-color: #BFA688;
	border-radius: 10px;
	padding: 5px;
}
#galleryTbl #a, #searchTbl {
	padding-bottom: 10px; 
	padding-top: 20px; 
}
#galleryTbl #searchBtn{
	width: 50px;
	padding: 4px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #BFA688;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}

#uploadTbl {
	transition: all 0.5s ease-out;
	border: #BFA688 solid 4px;
	border-radius: 10px;
	width: 200px;
	font-family: "k";
	padding: 5px;
	position: fixed;
	top:200px;
	right: -300px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}

#uploadTbl th{
	font-size: 25px;
	padding-bottom: 20px;
}


#uploadTbl input{
	width:180px;
	padding: 5px;
	font-size: 15px;
	outline: none;
	border: #BFA688 solid 2px;
	background-color: transparent;
	border-radius: 10px;
	font-family: "k";
	color: #BFA688;
	margin-bottom: 10px;
}
#uploadTbl button {
	width: 40px;
	padding: 4px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #BFA688;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}

.galleryPostsTbl{
	width: 32%;
	height: 300px;
	float: left;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	background-color: #EEE5D3;
}
.galleryPostsTbl .icon{
	width: 25px;
}
.galleryPostsTbl button{
	border: none;
	background-color: transparent;
}
.galleryPostsTbl .title{
	font-size: 25px;
}

.galleryPostsTbl .writer, .date{
	color: #BFA688;
}

.galleryPostsTbl .postPhoto{
	max-width: 150px;
}