@charset "UTF-8";
@font-face{
	font-family: "k";
	src: url("../font/king.ttf");
}
::-webkit-scrollbar {
  display: none;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "k";
	background-color: #FBEEDE;
	background-image: url("../img/bg.png");
	background-attachment: fixed;
	background-size: cover;
}

table {
	border-spacing: 0px;
}

a{
	text-decoration: none;
	font-family: "k";
}

#siteTitleArea {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0px;
	height: 100px;
}

#siteTitle {
	width: 1200px;
}

#siteTitle a{
	color: #5a4f41;
	font-size: 47px;
	font-weight: 900;
	text-shadow: 3px 3px 3px white;
}
#siteContentArea {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-top: 110px;
	padding-bottom: 200px;
}
#loginArea {
	width: 200px;
	height: 750px;
	border: #BFA688 solid 5px;
	border-radius: 10px;
	position: fixed;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}
#contentArea {
	width: 950px;
}
#siteMenuArea {
	width: 200px;
}
.space {
	height: 20px;
}
#siteMenu a{
	color: #5a4f41;
	font-size: 25px;
	margin-left: 15px;
}
#siteMenu .icon{
	height: 28px;
}
#siteMenuArea .space{
	border-top: #BFA688 solid 2px;
	width: 180px;
}
#menuImg{
	height: 30px;
}
#result {
	font-size: 20px;
	padding-bottom: 5px;
	color: #5a4f41;
}

#home {
	width: 600px;
}


#rightClickImg {
	opacity: 0;
	position: absolute;
	top: -100px;
}
#mouseWeather {
	color: white;
	font-family: "k";
	padding: 5px;
	border-radius: 10px;
	position: absolute;
	top: -100px;
}