@charset "UTF-8";

#snsTbl {
	color: #5a4f41;
	font-family: "k";
	font-size: 23px;
	width: 100%;
}
#snsTbl th {
	font-size: 40px;
	padding-bottom: 20px;
}
#snsTbl a {
	margin-right: 10px;
}
#snsTbl #snsMenuArea {
	width: 800px;
}
#snsTbl #searchButton {
	background-color: transparent;
	border: none;
}
#snsTbl .searchInput{
	width: 170px;
	font-family: "k";
	font-size: 20px;
	margin : 3px;
	outline: none;
	border: none;
	background-color: transparent;
	color: #5a4f41;
}
#snsTbl #searchArea{
	width: 220px;
	font-size: 17px;
	border-radius: 10px;
	border: #BFA688 solid 3px;
	color: #5a4f41;
	font-family: "k";
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}
#snsTbl #searchImg{
	padding-top: 3px;
	height: 20px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	color: #EEE5D3;
	font-family: "k";
}

#snsTbl #goWrite{
	font-size: 20px;
	text-decoration: none;
	color: #EEE5D3;
	border: none;
	background-color: #BFA688;
	border-radius: 10px;
	padding: 5px;
	padding-top: 3px;
}

#snsTbl #write{
	width: 30px;
	border-radius: 10px;
	border: none;
	color: #EEE5D3;
	font-family: "k";
}

.snsPostsTbl {
	margin-top: 20px;
	width: 800px;
	border: none;
	border-radius: 10px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}
.snsPostsTbl .icon{
	width: 25px;
}
.snsPostsTbl button{
	border: none;
	background-color: transparent;
}
.snsPostsTbl .postTitleArea {
	height: 70px;
	width: 100%;
	color: white;
	border-radius: 10px;
	padding: 10px;
	background-color: #BFA688;
}
.snsPostsTbl .postTitleArea .date{
	font-size: 15px;
	color: white;
}
.snsPostsTbl .postTitleArea .profileImg{
	width: 100px;
}
.snsPostsTbl .postTitleArea .snsPostWriterProfile{
	width: 100px;
}

.snsPostsTbl .txt {
	padding: 6px 6px 6px 15px;
}
.snsPostsTbl .snsLine {
	width: 97%;
}

.replyTbl {
	width: 97%;
	background-image: url("../img/opercity1.png");
	background-attachment: fixed;
	background-size: cover;
}
.replyTbl .replyBtn {
	padding: 4px;
	font-size: 13px;
	border-radius: 10px;
	border: none;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}
.replyInputArea {
	width: 95%;
}

.replyInputArea .replyInput{
	width: 600px;
	font-family: "k";
	font-size: 20px;
	margin : 3px;
	outline: none;
	border: none;
	background-color: transparent;
	color: #5a4f41;
}
.replyInputArea .icon{
	width: 25px;
}
#writerTable {
	transition: all 0.5s ease-out;
	border: #BFA688 solid 4px;
	border-radius: 10px;
	width: 200px;
	font-family: "k";
	padding: 5px;
	position: fixed;
	top:180px;
	right: -300px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}

#writerTable #snsPostColorInput{
	width: 180px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	padding: 5px;
	border: none;
	background-color: transparent;
	border-bottom: #BFA688 solid 4px;
	outline: #BFA688;
}

#contentTxt {
	width: 180px;
	height: 300px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 10px;
	resize: none;
}

#regBtn{
	width: 40px;
	padding: 4px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #BFA688;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}
#pageMoveLeft{
	background-color: transparent;
	font-size: 30px;
	position: fixed;
	top: 120px;
	height: 750px;
	color: black;
	font-family: "k";
	width: 50px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}

#pageMoveRight{
	background-color: transparent;
	font-size: 30px;
	position: fixed;
	top: 120px;
	right: 346px;
	height: 750px;
	color: black;
	font-family: "k";
	width: 50px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
}
#updatePopUpArea {
	position: fixed;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000CC;
}
#updatePopUpTable {
	border: #BFA688 solid 4px;
	border-radius: 10px;
	width: 320px;
	font-family: "k";
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/opercity1.png");
	background-attachment: fixed;
	background-size: cover;
}

#updatePopUpTable #snsPostIDtd{
	border-bottom: #BFA688 solid 4px;
	padding: 5px;
}
#updatePopUpTable #snsPostID{
	width: 300px;
	margin-left: 10px;
	font-family: "k";
	font-size: 30px;
	color: #5a4f41;
	border: none;
	background-color: transparent;
	outline: #BFA688;
}

#updateContentTxt {
	height: 180px;
	width: 300px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 10px;
	resize: none;
}

#updateBtn{
	width: 80px;
	padding: 4px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #BFA688;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}
#closeBtn{
	padding: 4px;
	font-size: 20px;
	border: none;
	background-color: transparent;
	color: #5a4f41;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
}