@charset "UTF-8";

#foodTbl {
	color: #5a4f41;
	font-family: "k";
	font-size: 23px;
	width: 100%;
}

#foodTbl th{
	font-size: 40px;
	padding-bottom: 20px;
}
#foodTbl #goUpload{
	font-size: 20px;
	text-decoration: none;
	color: #EEE5D3;
	border: none;
	font-family: "k";
	background-color: #BFA688;
	border-radius: 10px;
	padding: 5px;
}
#foodPostArea {
	width: 100%;
}
.foodPostTbl{
	width: 32%;
	height: 300px;
	float: left;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	background-color: #EEE5D3;
}
.foodPostTbl .foodPostImg{
	max-width: 150px;
}
#foodUploadTbl {
	transition: all 0.5s ease-out;
	border: #BFA688 solid 4px;
	border-radius: 10px;
	width: 200px;
	font-family: "k";
	padding: 5px;
	position: fixed;
	top:200px;
	right:-300px;
	font-size: 17px;
	background-image: url("../img/opercity.png");
	background-attachment: fixed;
	background-size: cover;
	color: #5a4f41;
	padding-bottom: 60px;
}

#foodUploadTbl th{
	font-size: 25px;
	padding-bottom: 20px;
}

#foodUploadTbl #name, #photo{
	width:180px;
	padding: 5px;
	font-size: 15px;
	outline: none;
	border: #BFA688 solid 2px;
	background-color: transparent;
	border-radius: 10px;
	font-family: "k";
	color: #BFA688;
	margin-bottom: 10px;
}
#foodRegBtn {
	transition: all 0.5s ease-out;
	width: 180px;
	padding: 4px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #BFA688;
	color: #EEE5D3;
	font-family: "k";
	padding-bottom:5px;  
	padding-top:5px;  
	margin-right: 5px;
	margin-top: 5px;
	position: fixed;
	bottom:210px;
	right:-300px;
}

#foodUploadTbl #review {
	width: 180px;
	height: 200px;
	font-family: "k";
	font-size: 20px;
	color: #5a4f41;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 10px;
	resize: none;
}
