<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table id="snsTbl">
		<tr>
			<th colspan="3">SNS</th>
		</tr>
		<tr>
			<td align="center">
				<table id="snsMenuArea">
					<tr>
						<td id="searchArea" align="left">
							<form action="sns.search.go">
								<input name="search" class="searchInput"  placeholder="&nbsp;검색어를 입력하세요">
								<button id="searchButton">
									<img src="img/icon/search.png" id="searchImg">
								</button>
							</form>
						</td>
						<td align="right" id="a">
							<button id="goWrite"  th:if="${session.loginMember != null}">
								<img id="write" src="img/icon/write.png">
							</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table th:each="s : ${snsPost}" class="snsPostsTbl" th:style="|box-shadow: 5px 5px 5px #${s.color}|">
					<tr>
						<td>
							<table class="postTitleArea">
								<tr>
									<td rowspan="2" class="profileImg"> 
										<img class="snsPostWriterProfile" th:src="|photo.folder/${s.writer.photo}|">
									</td>
									<td class="writer">[[${s.writer.id}]]</td>
									<td align="right">
										<span th:if="${session.loginMember != null}">
											<button th:if="${s.writer.id == session.loginMember.id}"
													th:onclick="snsPostUpdate([[${s.no}]], [[${s.txt}]], [[${s.color}]], [[${s.writer.id}]], [[${s_page}]]);">
												<img class="icon" src="img/icon/modify.png">
											</button>
											<button th:if="${s.writer.id == session.loginMember.id}"
													th:onclick="snsPostDelete([[${s.no}]], [[${s_page}]]);">
												<img class="icon" src="img/icon/delete2.png">
											</button>
										</span>
									</td>
								</tr>
								<tr><td th:text="${#dates.format(s.date, 'yyyy-MM-dd HH:mm')}" class="date" align="right" colspan="2"></td></tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="txt" th:utext="${s.txt}"></td>
					</tr>
					<tr>
						<td align="center">
							<div th:style="|border-bottom: #${s.color} solid 2px|" 
							class="snsLine" ></div>
						</td>
					</tr>
					<tr>
						<td align="center">
							<table class="replyTbl" th:style="|color: #${s.color}|">
								<tr>
									<td colspan="2">
										<div>댓글</div>
									</td>
								</tr>
								<tr><td class="space" colspan="2"></td></tr>
								<tr th:each="r : ${s.reply}">
									<td class="reply">
										&nbsp;&nbsp;&nbsp;[[${r.writer.id}]]&nbsp;&nbsp;&nbsp;
										[[${r.txt}]]&nbsp;&nbsp;([[${#dates.format(r.date, 'yy.MM.dd HH:mm')}]])
									</td>
									<td align="right">
										<span th:if="${session.loginMember != null}">
											<button th:if="${s.writer.id == session.loginMember.id}"
													th:onclick="snsReplyUpdate([[${r.no}]], [[${r.txt}]], [[${s_page}]]);" 
													th:style="|background-color: #${s.color}|" class="replyBtn">
												수정
											</button>
											<button th:if="${s.writer.id == session.loginMember.id}"
													th:onclick="snsReplyDelete([[${r.no}]], [[${s_page}]]);" 
													th:style="|background-color: #${s.color}|" class="replyBtn">
												삭제
											</button>
										</span>
									</td>
								</tr>
								<tr><td class="space" colspan="2"></td></tr>
								<tr>
									<td align="center" colspan="2">
										<form action="sns.reply.write.do" name="replyReg" onsubmit="return snsReplyWriteCheck();"
												th:if="${session.loginMember != null}">
											<table class="replyInputArea">
												<tr><td class="space" th:style="|border-top: #${s.color} solid 2px|"></td></tr>
												<tr>
													<td>
														<input name="token" th:value="${token }" type="hidden">
														<input name="no" th:value="${s.no }" type="hidden">
														<input name="s_page" th:value="${s_page }" type="hidden">
														<span>[[${session.loginMember.id}]]</span>
														<input class="replyInput" name="txt" maxlength="80"
																th:style="|border-bottom: #${s.color} solid 2px|">
														<button><img class="icon" src="img/icon/keyboard.png"></button> <p>
													</td>
												</tr>
											</table>
										</form>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
	
	<table id="pageMoveLeft" th:if="${s_page != 1}"
			th:onclick="snsPageChange([[${s_page - 1}]]);">
		<tr><td align="center">&lt;</td><tr>
	</table>
	
	<table id="pageMoveRight" th:if="${s_page != s_pageCount}"
			th:onclick="snsPageChange([[${s_page + 1}]]);">
		<tr><td align="center">&gt;</td><tr>
	</table>
	
	<form action="sns.write.do" onsubmit="return snsWriteCheck(this);">
		<input name="token" th:value="${token }" type="hidden">
		<table id="writerTable" th:if="${session.loginMember != null}">
			<tr>
				<td align="right">
					<button id="regBtn">등록</button>
				</td>
			</tr>
			<tr>
				<td>
					#<input name="color" id="snsPostColorInput" maxlength="6" placeholder="000000">
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="txt" id="contentTxt" maxlength="450" placeholder="내용"></textarea>
				</td>
			</tr>
		</table>
	</form>
	<table id="updatePopUpArea">
		<tr>
			<td>
				<form action="sns.post.update">
				<input name="no" id="snsPostUpdateNo" type="hidden">
				<input name="s_page" id="snsPostUpdatePage" type="hidden">
				<table id="updatePopUpTable">
					<tr>
						<td align="left">
							<button id="updateBtn">업데이트</button>
						</td>
						<td align="right">
							<span id="closeBtn" onclick="snsPostUpdateCancle();">X</span>
						</td>
					</tr>
					<tr>
						<td colspan="2" id="snsPostIDtd">
							<span id="snsPostID"></span>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<textarea name="txt" id="updateContentTxt" maxlength="450" placeholder="내용"></textarea>
						</td>
					</tr>
				</table>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>